.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.banner {
  text-align: center;
}

.banner h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.shop-now {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.shop-now:hover {
  background-color: #333;
}
